@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html.nav-open {
  overflow-y: hidden;
}

body {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 8rem;
  background-color: #fbf7ed;
  padding: 0 3rem;
  z-index: 1000;
}

.logo_hidden {
  display: none;
  height: 3.5rem;
  position: relative;
  z-index: 2000;
}

.logo {
  height: 3.5rem;
  margin-right: 1.5625rem;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 80px;
}

.main-nav-list {
  display: flex;
  list-style: none;
  margin-right: auto;
  align-items: center;
  gap: 1rem;
}

.main-nav-list li button {
  background: none;
  border: none;
  padding: 0 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
  cursor: pointer;
}

.nav-btn {
  background: #008060 !important;
  color: #fff !important;
  border: none;
  padding: 1.3rem 2.6rem !important;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #005645 !important;
}

.display--expand_nav {
  display: flex;
}

.hidden_desk {
  display: none;
}

.hidden_desk li button {
  text-decoration: underline !important;
  color: #000;
}

.marketing-nav__user {
  margin-right: 0;
}

.dropdown-container {
  position: relative;
}

.dropdown-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.active .dropdown-list {
  display: block;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.dropdown_border {
  border-bottom: 1px solid #dbdbdb;
  margin: 0.5rem 2rem;
}

.dropdown-list ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-list li {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-list li:focus {
  outline: 1px solid #008060;
}

.dropdown-list li:hover {
  background: #f3f3f3;
  box-shadow: 3px 0px 0px 0px #008060 inset;
  transition: all 0.3s;
}

.dropdown-list li p {
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(53, 53, 53);
  font-weight: 700;
  margin: 0 2rem;
}

.dropdown-list li:first-child p {
  margin: 0 2rem;
}

.dropdown-btn {
  z-index: 1;
  display: flex;
  align-items: center;
}

.background {
  width: 95%;
  height: 8rem;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in;

  opacity: 0;

  pointer-events: none;

  visibility: hidden;
  z-index: 1000;
}

.mobile_nav {
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  transform: translateX(100%);

  transition: all 0.5s ease-in;

  opacity: 0;

  pointer-events: none;

  visibility: hidden;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
}

.accordion-header::after {
  content: url(img/arrow-down-s-line.svg);
  font-size: 3em;
}

.accordion-header.active::after {
  content: url(img/arrow-up-s-line.svg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.accordion_list ul {
  list-style: none;
  border-left: 1px solid rgb(119, 119, 119);
  margin: 0 4rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.accordion_list li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion_list li:hover {
  background: #f3f3f3;
  box-shadow: 3px 0px 0px 0px #008060 inset;
  transition: all 0.3s;
}

.accordion_list li p {
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.6rem;
  color: rgb(53, 53, 53);
  font-weight: 500;
  margin: 0 2rem;
}

.accordion_list li:first-child p {
  margin: 0 2rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 4rem;
  color: rgb(17, 17, 17);
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.hero_section {
  height: 100%;
  background: #fbf7ed;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.hero_text_box {
  padding: 0 0 0 10rem;
  width: 100%;
}

.hero_heading {
  font-size: 4.5rem;
  color: #004c3f;
  margin-bottom: 4rem;
}

.hero_form {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.hero_input {
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(114, 114, 114);
  width: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.hero_btn {
  background: #008060 !important;
  color: #fff !important;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  padding: 1.5rem 3rem !important;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 60%;
}

.hero_btn:hover {
  background-color: #005645 !important;
}

.hero_description {
  font-size: 1.2rem;
}

.hero_img_box {
  width: 100%;
  height: 700px;
  position: relative;
}

.hero_img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: right center;
}

.hero_img_box a {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero_img_box a svg {
  width: 32px;
  height: 32px;
}

.business-sec {
  padding: 10rem 90px;
  background: #004c3f;
  color: #fff;
}

.business_text_box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.business_heading {
  font-size: 4rem;
  font-weight: inherit;
  margin-bottom: 2rem;
}

.business_description {
  font-size: 1.5rem;
}

.business_header_link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.business_header_link:hover {
  text-decoration: none;
}

.business_header_link span {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.business_header_link:hover span {
  padding-left: 1rem;
}

.business__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-bottom: 13rem;
}

.business__grid__img {
  width: 100%;
}

.business__grid__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.business__grid__link h6 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}

.business__grid__link p {
  color: #fff;
  font-size: 1.8rem;
}

.business__grid__link:hover h6 {
  text-decoration: underline;
}

.business__heading {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 6rem;
}

.business_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.fa-user-friends,
.fa-sync,
.fa-store,
.fa-mouse-pointer {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.business_grid_content h6 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.business_grid_content p {
  font-size: 1.6rem;
  font-weight: inherit;
}

.direction_sec {
  padding: 9rem 2rem;
}

.direction_text_box {
  text-align: center;
  margin-bottom: 7rem;
}

.direction_heading {
  font-size: 4rem;
  font-weight: inherit;
  margin-bottom: 2rem;
}

.direction_description {
  font-size: 2rem;
  color: rgb(65, 65, 65);
}

.direction_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.step_video_box {
  /* margin-bottom: 20rem; */
  display: flex;
  align-items: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
}

.video__video {
  width: 100%;
}

#video-controls {
  display: flex;
  justify-content: end;
}

#play-pause-button {
  width: 65px;
  height: 65px;
  border: none;
  background-color: transparent;
  background-image: url(img/pause-solid.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.step_text_box.one {
  margin-left: 90px;
}

.step_heading {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 2rem;
}

.step_description {
  font-size: 1.7rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}

.step_link {
  color: #008060;
  font-size: 1.7rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.step_link:hover {
  text-decoration: none;
}

.step_link span {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.step_link:hover span {
  padding-left: 1rem;
}

.add_txt {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.add_txt h3 {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 3rem;
}

.add_txt h5 {
  font-size: 2.4rem;
  font-weight: inherit;
  margin-bottom: 2rem;
}

.add_txt a {
  color: #008060;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.add_txt a:hover {
  text-decoration: none;
}

.add_txt a span {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.add_txt a:hover span {
  padding-left: 1rem;
}

.earth_container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1000;
  text-align: center;
}

.earth {
  border-radius: 50%;
  width: 100%;
}

.testimonial {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15rem 0 0 0;
}

.testimonial_text_box {
  background: #002e25;
  color: #fff;
  text-align: center;
  padding: 64px 40px;
  width: 50%;
}

.testimonial_text_box blockquote {
  font-size: 3rem;
  width: 78%;
  margin: 0 auto;
}

.blockquote {
  font-weight: 500;
  margin-bottom: 5rem;
}

.testimonial_text_box blockquote h6 {
  font-weight: inherit;
  margin-bottom: 3rem;
}

.testimonial_text_box blockquote img {
  margin-bottom: 2rem;
}

.testimonial_text_box div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_text_box a {
  display: flex;
  align-items: center;
  padding: 1rem 1.8125rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.133;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.testimonial_text_box a:hover {
  background: #fff;
  color: #000;
}

.play_icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.testimonial_text_box a:hover .play_icon {
  fill: #000;
}

.testimonial_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feautures {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 7rem;
}

.help_section {
  height: 100%;
  background: #fbf7ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help_text_box {
  width: 100%;
  padding: 0 0 0 10rem;
}

.help_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.help_heading {
  font-size: 4rem;
  font-weight: inherit;
  margin-bottom: 10rem;
}

.help_grid_content h6 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.help_grid_content p {
  font-size: 1.5rem;
  font-weight: 200 !important;
  line-height: 1.5;
  padding-right: 5rem;
  color: grey;
  margin-bottom: 1rem;
}

.help_link {
  color: #008060;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.help_link:hover {
  text-decoration: none;
}

.help_link span {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.help_link:hover span {
  padding-left: 1rem;
}

.help_img_box {
  width: 100%;
}

.help_img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: right center;
}

.cta {
  text-align: center;
  padding: 9rem 6rem;
  max-width: 750px;
  margin: 0 auto;
}

.cta_heading {
  font-size: 3rem;
  margin-bottom: 0.6em;
  line-height: 1.3333333333;
  font-weight: 400;
}

.cta_description {
  font-size: 1.875rem;
  margin-bottom: 2em;
  color: #6b7177;
  font-weight: 200 !important;
}

.cta_btn {
  font-size: 1.6rem;
  font-weight: 600 !important;
  padding: 1.7rem 5rem !important;
}

.btt {
  padding: 0 90px 50px 90px;
  display: flex;
  justify-content: flex-end;
}

.btt_link {
  display: flex;
  align-items: center;
  color: #008060;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 5s;
}

.btt_link:hover {
  text-decoration: none;
}

.btt_link svg {
  transition: all 0.3s ease-in-out;
}

.btt_link:hover svg {
  transform: translateY(-0.7rem);
}

.footer {
  background: #002e25;
  width: 100%;
  padding: 4rem 0;
}

.footer_features {
  display: flex;
  gap: 1rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
  border-bottom: 1px solid #4e4e4e75;
}

.footer_features_link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer_features_link:hover {
  box-shadow: 0px -2px 0px 0px #ffffff inset;
}

.footer_grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 2rem;
  padding-bottom: 30px;
}

.footer_list_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_heading {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_link {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover {
  color: #fff;
}

.footer_border {
  border-bottom: 1px solid #4e4e4e75;
}

.footer_flex {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.footer_flex_item {
  display: flex;
  gap: 2rem;
}

.social_link {
  color: #002e25;
  background: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-linkedin-in,
.fa-pinterest-p {
  font-size: 1.5rem;
}

.footer__link {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  color: #fff;
}
